LABEL frenos
TEXT HELP
Boot the FrenOS install medium on BIOS.
It allows you to install FrenOS or perform system maintenance.
ENDTEXT
MENU LABEL FrenOS install medium (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% console=ttyS0

# Accessibility boot option
LABEL frenosspeech
TEXT HELP
Boot the FrenOS install medium on BIOS with speakup screen reader.
It allows you to install FrenOS or perform system maintenance with speech feedback.
ENDTEXT
MENU LABEL FrenOS install medium (%ARCH%, BIOS) with ^speech
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% console=ttyS0 accessibility=on
